<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Products</h1>
      <p>List of all products...</p>
      <div class="grid">
        <article class="card product-item">
          <header class="card__header">
            <h1 class="produc__title">Old Yothin</h1>
          </header>
          <div class="card__image">
            <img
              src="https://scontent.fbkk8-4.fna.fbcdn.net/v/t1.6435-9/66771145_464016597723236_3141144032944586752_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE0K32SEugXOBwSlqmlz5qxEgOibfo5OiMSA6Jt-jk6I5Q6FC6lfOSKV24E7b3FHEMEvaAc7JYVUhyTHFypwxDO&_nc_ohc=nhBoDpiULmgAX8WxXsr&_nc_ht=scontent.fbkk8-4.fna&oh=00_AfD86br3F4ovLhU8wZO5o4bCGuiy4HUyu5ZvPyMdt8AE1g&oe=66161B59"
              alt="Old Yothin"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$10.00</h2>
            <p class="product__description">
              The most handsome boy in Bangkok.
            </p>
          </div>
          <div class="card__actions">
            <div class="btn">Add to Cart</div>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
